*~
*.sw?
*.html
*.epub
*.pdf
*.mobi
*.lit
*.fb2
/version.adoc
/docbook-xsl.css
/*.chunked/

# Package build artefacts
/debian/debian-paketmanagement-buch/
/debian/tmp/
/debian/files
/debian/*-stamp
/debian/*.debhelper.log
/debian/*.substvars
/debian/.debhelper/
