Source: dpmb
Section: doc
Priority: optional
Maintainer: Axel Beckert <abe@debian.org>
Uploaders: Frank Hofmann <frank.hofmann@efho.de>
Build-Depends: asciidoc,
               dblatex,
               debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.dpmb.org/
Vcs-Git: git://github.com/dpmb/dpmb.git
Vcs-Browser: https://github.com/dpmb/dpmb

Package: debian-paketmanagement-buch
Architecture: all
Depends: ${misc:Depends}
Recommends: www-browser | pdf-reader | fbreader | calibre
Description: German-written book about package management with Debian
 This package includes the book "Debian Paketmanagement" by Axel
 Beckert and Frank Hofmann in as single HTML page, PDF document and
 e-book in the epub format.
